@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TheYearofTheCamel-Thin";
  src: url("/fonts/TheYearofTheCamel-Thin.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-ExtraLight"; 
  src: url("/fonts/TheYearofTheCamel-ExtraLight.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-Light";
  src: url("/fonts/TheYearofTheCamel-Light.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-Regular";
  src: url("/fonts/TheYearofTheCamel-Regular.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-Medium";
  src: url("/fonts/TheYearofTheCamel-Medium.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-Bold";
  src: url("/fonts/TheYearofTheCamel-Bold.otf");
}

@font-face {
  font-family: "TheYearofTheCamel-ExtraBold";
  src: url("/fonts/TheYearofTheCamel-ExtraBold.otf");
}

